<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Weather condition</title>
    <link
      href="{{ url_for('static', filename='styles/style.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Oops! {{ city }} not found</h1>
    <p>Try again ?</p>
    <form action="/weather">
      <input
        type="text"
        name="city"
        id="'city"
        placeholder="Enter your city"
        required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
